@import compass/reset
@import compass/css3
@import compass/typography/lists/bullets

$bg: #2E3648
$alt: #000000
$text: #FCFCC6
$link: #92977C + #333333
$line: 1.6em

body
  background-color: $text
  color: $bg
  // font-family: "tenby-six-1","tenby-six-2"
  font-family: Garamond, serif
  


.container
  color: $text
  a
    text-decoration: none
    color: $link
  +display-box
  +box-orient(horizontal)
  +box-align(stretch)
  height: 4000px
  width: 100%
  .main
    +box-flex(4)
    padding: 20px
    // letter-spacing: 0.05em
    // word-spacing: 0.1em
    background-color: $bg
    .header
    .nav
      border-top: 1px solid
      border-bottom: 1px solid
    .meat
      line-height: $line
      padding: 20px
      font-size: 14pt
      max-width: 560px
    p
      margin-bottom: $line
    blockquote
      background-color: $alt
      @include opacity(0.8)
      padding: 40px
      margin-bottom: $line
    h1 
      font-size: 180%
      font-weight: bold
      text-align: center
      margin-top: 0.3em
      margin-bottom: 0.5em
    h2
      margin-top: 1em
      margin-bottom: 0.8em
      font-size: 150% 
      border-bottom: 1px solid

    ul
      list-style-type: circle
    ol
      list-style-type: decimal
    li
      margin: .5em 0

  .sidebar
    width: 200px
    .capstone
      align: right
    background-color: $alt
    margin-left: .5px
    margin-right: 0
    align: center
    font-size: 10pt
    line-height: 1.4em
    p
      align: left
      padding: 20px

ul.discs
  +pretty-bullets("disc.png", 25px, 25px)
  li
    +background-origin(content-box)
    line-height: 30px
    text-indent: 25px
  li:hover
    background-color: $bg - #111
    color: $text + #222
    a
      color: $link + #222


.flickr_badge_image
  text-align: center
#flickr_badge_image1 img
  margin-top: 10px
.flickr_badge_image img
  border: 1px solid black
#flickr_badge_uber_wrapper
  width: 150px
  padding: 25px
  td
    padding: 5px
#flickr_badge_wrapper
  background-color: $bg
  border: solid 1px $alt
  
#flickr_badge_source
  padding: 0
  font: 11px Arial, Helvetica, Sans serif
  color: $text

