<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <meta name="author" content="Michael Brodhead">
    <title>
      {{ page.title }}
    </title>
    <link href="{{ site.url }}/atom.xml" rel="alternate" title="{{ site.title }}" type="application/atom+xml" />
    <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class='container'>
      <div class='main'>
        <div class='header'>
          <a href="/"><img src="/img/orthogonal.png" alt="orthogonal.org"></a>          
        </div>
{% comment %}        <div class='nav'>Thing | Another | More</div>{% endcomment %}
        <div class='meat'>{{ content }}</div>
      </div>

      <div class='sidebar'>
        <img height='200' width='200' src="/img/IMG_0251.JPG"/>
        <p>I am Michael Brodhead.  This is my website.  There are
          many others like it, but this one is mine.</p>

        <div id="flickr_badge_uber_wrapper">
          <table id="flickr_badge_wrapper">
            <script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?show_name=1&count=3&display=latest&size=t&layout=v&source=user&user=47176885%40N00">
            </script>
            <tr>
              <td id="flickr_badge_source">
                <nobr>Go to</nobr>
                <a href="http://www.flickr.com/photos/thewayofthegun/">TheWayOfTheGun's photostream</a>
              </td>
            </tr>
          </table>
        </div>
      </div>

      
    </div>
  </body>
</html>
