<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <meta name="author" content="Michael Brodhead">
    <meta http-equiv="refresh" content="60">
    <title>
      {{ page.title }}
    </title>
    <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class='container'>
      <div class='main'>
        <div class='header'>
          <a href="/"><img src="/img/orthogonal.png" alt="orthogonal.org"></a>          
        </div>
        <div class='nav'>Thing | Another | More</div>
        <div class='meat'>{{ content }}</div>
      </div>
      <div class='sidebar'>
        <img height='200' width='200' src="/img/IMG_0251.JPG"/>
        <p>Gug</p>

        <!-- Start of Flickr Badge -->
        <table id="flickr_badge_uber_wrapper" cellpadding="0" cellspacing="10" border="0"><tr><td><a href="http://www.flickr.com" id="flickr_www">www.<strong style="color:#3993ff">flick<span style="color:#ff1c92">r</span></strong>.com</a><table cellpadding="0" cellspacing="10" border="0" id="flickr_badge_wrapper">
        <script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?show_name=1&count=3&display=latest&size=t&layout=v&source=user&user=47176885%40N00"></script>
        <tr>
        <td id="flickr_badge_source" valign="center" align="center">
        <table cellpadding="0" cellspacing="0" border="0"><tr>
        <td width="10" id="flickr_icon_td"><a href="http://www.flickr.com/photos/thewayofthegun/"><img id="flickr_badge_icon" alt="TheWayOfTheGun's items" src="http://farm1.static.flickr.com/1/buddyicons/47176885@N00.jpg?1102571525#47176885@N00" align="left" width="48" height="48"></a></td>
        <td id="flickr_badge_source_txt"><nobr>Go to</nobr> <a href="http://www.flickr.com/photos/thewayofthegun/">TheWayOfTheGun's photostream</a></td>
        </tr></table>
        </td>
        </tr>
        </table>
        </td></tr></table>
        <!-- End of Flickr Badge -->

      </div>
    </div>
  </body>
</html>
