<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>
    {{ page.title }}
  </title>
  <meta name="description" content="mkb's intertube">
  <meta name="author" content="Michael Brodhead">

  <meta name="viewport" content="width=660">

  <link href="/css/screen.css" rel="stylesheet">

  <script src="js/libs/modernizr-1.7.min.js"></script>
  <script type="text/javascript" src="http://use.typekit.com/eya1wwv.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>  

  <link href="{{ site.url }}/atom.xml" rel="alternate" title="{{ site.title }}" type="application/atom+xml" />
</head>
<body>
  <div class="container">
    <div class="main">
      <header>
        <a href="/"><img src="/img/orthogonal.png" alt="orthogonal.org"></a>          
      </header>
{% comment %}        <div class='nav'>Thing | Another | More</div>{% endcomment %}
      <div class="meat">{{ content }}</div>
    </div>

    <div class="sidebar">
      <img height="200" width="200" src="/img/IMG_0251.JPG"/>
      <p>I am Michael Brodhead.  This is my website.  There are
        many others like it, but this one is mine.</p>
      <div id="flickr_badge_uber_wrapper">
        <table id="flickr_badge_wrapper">
          <script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?show_name=1&count=3&display=latest&size=t&layout=v&source=user&user=47176885%40N00">
          </script>
          <tr>
            <td id="flickr_badge_source">
              <nobr>Go to</nobr>
              <a href="http://www.flickr.com/photos/thewayofthegun/">TheWayOfTheGun's photostream</a>
            </td>
          </tr>
        </table>
      </div>
    </div>
    
    <footer>      
    </footer>

   {% comment %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js"></script>
    <script>window.jQuery || document.write("<script src='js/jquery-1.6.0.min.js'>\x3C/script>")</script>
   {% endcomment %}
  </div>
</body>
</html>